@import '../../styles/global.scss';

@keyframes glow {
  0%, 30% {
    border-color: $color-mauve;
  } 
  70%, to {
    border-color: $color-usm-yellow;
  }
}

@keyframes higlight {
  0% {
    border-color: $color-purple;
  }
  10% {
    border-color: $color-usm-yellow;
  }
  50% {
    border-color: $color-usm-yellow;
  }
  to {
    border-color: $color-purple;
  }
}

.MemPlayer {

}

.editSoundsButton {
  display: inline-block;
  margin: 0 20px;
  border: 2px solid $color-purple;
  border-radius: 100%;
  line-height: 2.8rem;;
  width: 36px;
  height: 36px;
  cursor: pointer;

  &:hover {
    border-color: $color-usm-yellow;
  }
}

.addSoundButton__highlight {
  animation: 2s ease-in-out 0s 1 alternate higlight;
}


.title {
  font-size: $text-med-lrg;
  text-align: center;
  font-weight: $font-weight-bold;
  margin-bottom: 20px;
}

.controls {
}

.keyboard {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 40px;
  background-image: linear-gradient(90deg, $color-mauve, $color-mauve);
  background-size: 100% 5px;
  background-position: 0 50%;
  background-repeat: no-repeat;
  position:absolute;
  left:0;
  right:0;
}

.soundKey {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0 5px;
  border: 5px solid $color-mauve;
  border-radius: 100%;
  cursor: pointer;
}

.soundKey__on {
  background-color: $color-usm-yellow;
}

.soundKey__off {
  background-color: $color-dark-gray;
}

.soundKey__glow {
  animation: 2s ease-in 0s infinite alternate glow;
}

.player{
  margin: 0 auto 40px;
  text-align: center;
}

.playButton {
  border-radius: 37px;
  border: none;
  background-color: $color-purple;
  color: $color-near-black;
  display: inline-block;
  font-family: $font-family-body;
  font-size: $text-med-lrg;
  font-weight: $font-weight-bold;
  line-height: 5.2rem;
  width: 180px;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 80px;
  cursor: pointer;
}

.playButton__disabled {
  background-color: #696C8F;
  cursor: default;
}

.feed {
  display: block;
  font-size: $text-small;
  width: 580px;
  margin: 0 auto;
  -webkit-mask-image: linear-gradient(180deg, $color-dark-gray 0, transparent 10rem);
  mask-image: linear-gradient(180deg, $color-dark-gray 0, transparent 10rem);
}

.txList {

}

.txItem {
  font-family: monospace;
  margin-bottom: 30px;
  
  a {
    color: $white;
    
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }

    &:not([href]) {
      text-decoration: none;
      cursor: default;
    }    
  }
}

.highlight {
  background-color: rgba(255, 255, 126, .6); 
}