@import '../../styles/global.scss';

.Container {
  max-width: 750px;
  margin: 0 auto 0 auto;
  padding-bottom: 60px;
  padding-top: 200px;

  @media only screen and (max-width: $break-container-padding) {
    padding-top: 15%;
  }  
}

.adjustForNavBar {
  padding-top: 65px;

  @media only screen and (max-width: $break-container-padding) {
    padding-top: 5%;
  }  
}