@import '../../styles/global.scss';

.topNav {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 50px;
}

.mainNav {
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.memplayerLink {
  color: $color-white;
  font-size: $text-med-lrg;
  margin-left: 100px;

  &:hover {
    color: $color-usm-yellow;
  }
}

.social {
  display: flex;
  align-items: center;
  justify-content: flex-end; 
  margin-right: 50px;
}

.socialLink {
  color: $color-usm-yellow;
  font-size: $text-med-lrg;
  margin-left: 100px;
}