@import '../../styles/global.scss';

.topNav {
  max-width: 1366px;
  margin: 0 auto;
  padding-top: 50px;
}

.social {
  display: flex;
  justify-content: flex-end; 
  margin-right: 50px;
}

.socialLink {
  color: $color-usm-yellow;
  font-size: $text-med-lrg;
  margin-left: 100px;
}