@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap');

$white: #fff;
$baby-blue: #62A8EE;
$color-dark-gray: #1D1C2F;
$color-usm-yellow: #EFF25E;
$color-mauve: #9592C1;
$color-purple: #5D67C7;
$color-near-black: #1D1C2F;


$dosis-font: 'Dosis', sans-serif;
$roboto-font: 'Roboto', sans-serif;
$font-weight-normal: 400;
$font-weight-bold: 700;

$text-small: 1.2rem;
$text-body: 1.6rem;
$text-med: 1.8rem;
$text-med-lrg: 2rem;
$text-lrg: 3rem;
$text-x-lrg: 5rem;
$text-xx-lrg: 6.5rem;

$sml-breakpoint: 360px;
$med-breakpoint: 680px;
$lrg-breakpoint: 980px;

@mixin border-radius($r) {
  border-radius: $r;
}
