@import '../styles/global.scss';

.logo {
  text-align: center;
  margin-bottom: 40px;
}

.logoImg {
  width: 80px;
}

.header {
  text-align: center;
  margin-bottom: 65px;
}

.title {
  font-family: $font-family-header;
  font-weight: $font-weight-normal;  
  font-size: $text-xx-lrg;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.subtitle {
  font-family: $font-family-body;
  font-weight: $font-weight-bold;
  font-size: $text-lrg;
  line-height: 1.2em;
}

.social {
  display: flex;
  justify-content: center;
  margin: 0 auto 40px auto;;
  text-align: center;
}

.socialLink {
  color: $color-usm-yellow;
  font-size: $text-med-lrg;
  margin: 0 50px;
}
